{% extends 'base.html' %}

{% block content %}
<div class="container text-center my-5">
    <div class="row">
        {% for p in page %}
      <div class="col-md-4 my-3">
            <div class="card" >
                <div class="card-body">
                <h5 class="card-title"><a href="#" class="text-decoration-none text-light">{{p.title|truncatechars:20}}</a></h5>
                <h6 class="card-subtitle mb-2 muted  my-2">Written by {{p.author }}</h6>
                <p class="card-text text-start">{{p.content|truncatechars:200}}</p>
                <a href="#" class="card-link">Read more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% comment %}
<!-- Uncomment this sectiion for the function-based view while you comment out the next section. You can uncomment this section by removing the comment tags above and below. -->
<center>
<!-- function-based view -->
    {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}" 
						class="btn btn-secondary mx-2">Previous</a>
    {% endif %}

    <a href="?page=1" class="btn btn-secondary">First</a>

    {% for num in page.paginator.page_range %}
        {% if num == page.number %}
            <span>{{ num }}</span>
        {% else %}
            <a href="?page={{num}}" class="btn btn-secondary mx-2">
								{{ num }}
						</a>
        {% endif %}
    {% endfor %}

    <a href="?page={{page.paginator.num_pages}}" class="btn btn-secondary mx-2">
			Last
		</a>

    {% if page.has_next %}
        <a href="?page={{page.next_page_number}}" class="btn btn-secondary mx-2">
						Next
				</a>
    {% endif %}
</center>
<!-- function-based view end -->
{% endcomment %}


<center>
    <!-- class-based view -->
    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}" 
						class="btn btn-secondary mx-2">Previous</a>
    {% endif %}

    <a href="?page=1" class="btn btn-secondary">First</a>

    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <span class="current-page">{{ num }}</span>
        {% else %}
            <a href="?page={{num}}" class="btn btn-secondary mx-2">
								{{ num }}
						</a>
        {% endif %}
    {% endfor %}

    <a href="?page={{page_obj.paginator.num_pages}}" class="btn btn-secondary mx-2">
			Last
		</a>

    {% if page.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="btn btn-secondary mx-2">
						Next
				</a>
    {% endif %}
</center>
<!-- class-based view end -->

{% endblock content %}